@import url(/styles/normalize.css);

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 360px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2rem;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  position: relative;
}

a::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 0%;
  height: 2px;
  bottom: -10px;
  left: 0;
  transform: scaleX(0.5);
  transition: width 0.3s ease-in;
}

a:hover::after {
  width: 100%;
}

img {
  width: 100%;
}

/* color palette */
:root {
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsla(0, 0%, 100%, 0.88);
  --color-gray: hsl(0, 0%, 41%);
  --color-text: hsl(0, 0%, 55%);
}

/* typography */
body {
  color: var(--color-text);
  font-size: 1.5rem;
  text-align: center;
  font-family: "Alata", sans-serif;
}

h1,
h2,
h3,
.expanded .nav-links {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  margin: 0;
  font-weight: lighter;
}

h1 {
  font-size: 4rem;
  text-align: left;
  line-height: 1.6ch;
}

h2 {
  color: var(--color-black);
  font-size: 2.9rem;
}

h3 {
  color: var(--color-white);
  font-size: 2.2rem;
}

@media screen and (min-width: 450px) {
  body {
    text-align: left;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3.4rem;
  }
}

/* header */
header {
  color: var(--color-white);
  background: url(/images/mobile/image-hero.jpg) no-repeat center;
  background-size: cover;
}

header > div {
  display: flex;
  flex-direction: column;
  height: 600px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0 0;
  position: relative;
}

.header-icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.logo > img {
  width: 140px;
}

header .nav-links {
  display: none;
}

.expanded div {
  height: 26vh;
}

.expanded nav {
  flex-direction: column;
}

.expanded::after {
  position: fixed;
  content: "";
  width: 100%;
  min-width: 360px;
  height: 500vh;
  background: black;
  inset: 0;
  z-index: 4;
}

.expanded .hamburger-icon {
  display: none;
}

.close-icon {
  display: none;
}

.expanded .close-icon {
  display: block;
}

.expanded .nav-links {
  display: block;
  font-size: 2.2rem;
  line-height: 3.5ch;
  margin: auto;
  margin-left: 0;
  text-align: left;
  z-index: 5;
}

.expanded a {
  color: rgba(255, 255, 255, 0.588);
}

.hero-section {
  max-width: 450px;
  border: 2px solid var(--color-white);
  padding: 2rem;
  margin: auto 0;
}

@media screen and (min-width: 450px) {
  header {
    background: linear-gradient(rgba(0, 0, 0, 0.579), rgba(0, 0, 0, 0.579)),
      url(/images/desktop/image-hero.jpg) no-repeat center;
    background-size: cover;
  }

  header > div {
    height: 450px;
  }

  .hero-section {
    padding-right: 5rem;
  }
}

@media screen and (min-width: 600px) {
  header .hamburger-icon {
    display: none;
  }

  header .nav-links {
    display: flex;
    gap: 2rem;
  }
}

/* brand section */
.brand-info {
  max-width: 800px;
  margin: 8rem 0;
}

.brand-info h2 {
  margin-top: 4.5rem;
}

.brand-info p {
  padding: 0 4rem;
  line-height: 2.2ch;
}

.content-section {
  text-align: center;
}

@media screen and (min-width: 750px) {
  .brand-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .brand-info img {
    min-width: 400px;
    width: 130%;
  }

  .brand-info h2 {
    margin: 0;
  }

  .brand-info p {
    padding: 0;
  }

  .content-section {
    width: 115%;
    max-width: 600px;
    text-align: left;
    background-color: white;
    transform: translate(-10%, 35%);
    padding: 4rem;
  }
}

/* brand creation section */
.brand-creation {
  display: grid;
  margin-bottom: 8rem;
}

.creations {
  margin-top: 5rem;
  display: grid;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.creations > h3 {
  width: 100%;
  height: 12rem;
  background-color: black;
  display: grid;
  text-align: left;
  padding: 50px 58% 2rem 2rem;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease-in;
}

h3:hover {
  color: var(--color-black);
  z-index: 3;
}

.creations > h3:hover::before {
  position: absolute;
  content: "";
  background-color: var(--color-white);
  opacity: 0.8;
  z-index: -1;
  inset: 0;
}

.creations h3:nth-child(1) {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.626), transparent),
    url(/images/mobile/image-deep-earth.jpg) no-repeat center;
  background-size: cover;
}

.creations h3:nth-child(2) {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.626), transparent),
    url(/images/mobile/image-night-arcade.jpg) no-repeat center;
  background-size: cover;
}

.creations h3:nth-child(3) {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.626), transparent),
    url(/images/mobile/image-soccer-team.jpg) no-repeat center;
  background-size: cover;
}

.creations h3:nth-child(4) {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.626), transparent),
    url(/images/mobile/image-grid.jpg) no-repeat center;
  background-size: cover;
}

.creations h3:nth-child(5) {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.626), transparent),
    url(/images/mobile/image-from-above.jpg) no-repeat center;
  background-size: cover;
}

.creations h3:nth-child(6) {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.626), transparent),
    url(/images/mobile/image-pocket-borealis.jpg) no-repeat center;
  background-size: cover;
}

.creations h3:nth-child(7) {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.626), transparent),
    url(/images/mobile/image-curiosity.jpg) no-repeat center;
  background-size: cover;
}

.creations h3:nth-child(8) {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.626), transparent),
    url(/images/mobile/image-fisheye.jpg) no-repeat center;
  background-size: cover;
}

.button {
  text-transform: uppercase;
  color: var(--color-black);
  border: 1px solid var(--color-black);
  padding: 1rem 4rem;
  letter-spacing: 0.3ch;
  margin: 0 auto;
}

.button:hover {
  background-color: black;
  color: white;
}

@media screen and (min-width: 600px) {
  .brand-creation {
    margin-top: 13rem;
    grid-template-areas: "title button" ". .";
  }

  .brand-creation h2 {
    grid-area: title;
  }

  .creations {
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
    grid-column: 1 / -1;
  }

  .creations > h3 {
    padding: 275px 30% 2rem 2rem;
    height: 35rem;
  }

  .creations h3:nth-child(1) {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.626), transparent),
      url(/images/desktop/image-deep-earth.jpg) no-repeat center;
    background-size: cover;
  }

  .creations h3:nth-child(2) {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.626), transparent),
      url(/images/desktop/image-night-arcade.jpg) no-repeat center;
    background-size: cover;
  }

  .creations h3:nth-child(3) {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.626), transparent),
      url(/images/desktop/image-soccer-team.jpg) no-repeat center;
    background-size: cover;
  }

  .creations h3:nth-child(4) {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.626), transparent),
      url(/images/desktop/image-grid.jpg) no-repeat center;
    background-size: cover;
  }

  .creations h3:nth-child(5) {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.626), transparent),
      url(/images/desktop/image-from-above.jpg) no-repeat center;
    background-size: cover;
  }

  .creations h3:nth-child(6) {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.626), transparent),
      url(/images/desktop/image-pocket-borealis.jpg) no-repeat center;
    background-size: cover;
  }

  .creations h3:nth-child(7) {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.626), transparent),
      url(/images/desktop/image-curiosity.jpg) no-repeat center;
    background-size: cover;
  }

  .creations h3:nth-child(8) {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.626), transparent),
      url(/images/desktop/image-fisheye.jpg) no-repeat center;
    background-size: cover;
  }

  .button {
    grid-area: button;
    justify-self: end;
    margin: 0 0 0 auto;
  }
}

/* footer */
footer {
  background-color: var(--color-black);
}

.footer {
  display: grid;
  place-items: center;
  gap: 3rem;
  padding: 5rem 2rem;
}

.footer .nav-links {
  display: grid;
  gap: 2rem;
}

.social-media-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.social-media-links > img {
  width: 40px;
}

.copyrights {
  margin: 0;
}

@media screen and (min-width: 400px) {
  .footer .nav-links {
    display: flex;
  }
}

@media screen and (min-width: 600px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer .logo {
    margin-right: auto;
  }

  .footer .nav-links {
    margin-right: auto;
    order: 1;
  }

  .social-media-links {
    margin-left: auto;
  }

  .copyrights {
    text-align: right;
    margin-left: auto;
    order: 1;
  }
}
