@import url(/styles/normalize.css);

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 360px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

img {
  width: 100%;
}

/* color palette */
:root {
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsla(0, 0%, 100%, 0.88);
  --color-gray: hsl(0, 0%, 41%);
  --color-text: hsl(0, 0%, 55%);
}

/* typography */
body {
  color: var(--color-text);
  font-size: 1.5rem;
  text-align: center;
  font-family: "Alata", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  margin: 0;
  font-weight: lighter;
}

h1 {
  font-size: 4rem;
  text-align: left;
  line-height: 1.6ch;
}

h2 {
  color: var(--color-black);
  font-size: 2.9rem;
}

h3 {
  color: var(--color-white);
  font-size: 2.2rem;
}

@media screen and (min-width: 450px) {
  body {
    text-align: left;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3.4rem;
  }
}

/* header */
header {
  color: var(--color-white);
  background: url(/images/mobile/image-hero.jpg) no-repeat center;
  background-size: cover;
}

header > div {
  display: flex;
  flex-direction: column;
  height: 600px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2.2rem 0;
}

.logo > img {
  width: 140px;
}

header .nav-links {
  display: none;
}

.hero-section {
  max-width: 450px;
  border: 2px solid var(--color-white);
  padding: 2rem;
  margin: auto 2.5rem;
}

@media screen and (min-width: 450px) {
  header {
    background: linear-gradient(rgba(0, 0, 0, 0.579), rgba(0, 0, 0, 0.579)),
      url(/images/desktop/image-hero.jpg) no-repeat center;
    background-size: cover;
  }

  header > div {
    height: 450px;
  }

  .hero-section {
    padding-right: 5rem;
  }
}

@media screen and (min-width: 600px) {
  header .hamburger-icon {
    display: none;
  }

  header .nav-links {
    display: flex;
    gap: 2rem;
  }
}

/* brand section */
.brand-info {
  max-width: 800px;
  margin: 8rem 2.5rem;
}

.brand-info h2 {
  margin-top: 4.5rem;
}

.brand-info p {
  padding: 0 4rem;
  line-height: 2.2ch;
}

.content-section {
  text-align: center;
}

@media screen and (min-width: 750px) {
  .brand-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .brand-info img {
    min-width: 400px;
    width: 130%;
  }

  .brand-info h2 {
    margin: 0;
  }

  .brand-info p {
    padding: 0;
  }

  .content-section {
    width: 115%;
    max-width: 600px;
    text-align: left;
    background-color: white;
    transform: translate(-10%, 35%);
    padding: 4rem;
  }
}
